$purple: #6d4f9f;
$primary: $purple;

$font-family-sans-serif: 'Open Sans', sans-serif;

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// This template has no custom styling
// Insert any custom SCSS here!
