# https://raw.githubusercontent.com/github/gitignore/master/C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
sentrypeer

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
vgcore*

# Autoconf and Automake outputs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
config.guess
config.guess~
config.sub
config.sub~
ltmain.sh
libtool
configure
configure~
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
stamp-h1
test-driver
m4

# CMake 
build
!cmake/config.h.in 

# Dependency directories (remove the comment below to include it)
# vendor/
.idea

# sqlite3 db
sentrypeer.db

# dist
sentrypeer-*
*.deb

# Doxygen
docs

# tests
!tests/tools/Makefile
tests/tools/udp_client
tests/tools/tcp_client
tests/tools/pcre2demo
test-suite.log
tests/unit_tests/.deps/
tests/unit_tests/.dirstamp
tests/unit_tests/runner
tests/unit_tests/runner.log
tests/unit_tests/runner.trs
test_sentrypeer.db
tests/unit_tests/test_sentrypeer.db-journal

# SentryPeer json log
sentrypeer_json.log
