# https://raw.githubusercontent.com/github/gitignore/master/C.gitignore
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
sentrypeer

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Autoconf and Automake outputs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.h.in~
config.log
config.status
config.guess
config.sub
ltmain.sh
libtool
configure
depcomp
install-sh
missing
src/.deps/
src/.dirstamp
stamp-h1
test-driver
m4

# CMake 
build
!cmake/config.h.in 

# Dependency directories (remove the comment below to include it)
# vendor/
.idea

# sqlite3 db
sentrypeer.db

# dist
sentrypeer-*.tar.gz
