# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only  */
# Copyright (c) 2021 - 2026 Gavin Henry <ghenry@sentrypeer.org> */
#
#   _____            _              _____
#  / ____|          | |            |  __ \
# | (___   ___ _ __ | |_ _ __ _   _| |__) |__  ___ _ __
#  \___ \ / _ \ '_ \| __| '__| | | |  ___/ _ \/ _ \ '__|
#  ____) |  __/ | | | |_| |  | |_| | |  |  __/  __/ |
# |_____/ \___|_| |_|\__|_|   \__, |_|   \___|\___|_|
#                              __/ |
#                             |___/
#
# fly.toml app configuration file generated for sentrypeer-node on 2023-04-26T19:49:16+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "sentrypeer-node"
primary_region = "den"
kill_signal = "SIGINT"
kill_timeout = "5s"

[experimental]
  auto_rollback = true

[env]
  PRIMARY_REGION = "den"

[[services]]
  protocol = "udp"
  internal_port = 5060
  processes = ["app"]

  [[services.ports]]
    port = 5060
  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
