[Unit]
Description=SentryPeer - SIP peer to peer honeypot for VoIP
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/sentrypeer
ExecStart=/usr/bin/sentrypeer $OPTIONS
KillMode=mixed
User=sentrypeer
Group=sentrypeer
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
