# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only  */
# Copyright (c) 2021 - 2026 Gavin Henry <ghenry@sentrypeer.org> */
#
#   _____            _              _____
#  / ____|          | |            |  __ \
# | (___   ___ _ __ | |_ _ __ _   _| |__) |__  ___ _ __
#  \___ \ / _ \ '_ \| __| '__| | | |  ___/ _ \/ _ \ '__|
#  ____) |  __/ | | | |_| |  | |_| | |  |  __/  __/ |
# |_____/ \___|_| |_|\__|_|   \__, |_|   \___|\___|_|
#                              __/ |
#                             |___/
#
# https://github.com/mozilla/cbindgen/blob/master/docs.md#cbindgentoml
# https://github.com/rustls/rustls-ffi/blob/main/cbindgen.toml
#
# Automated via build.rs now, but if you need to run manually:
# cd sentrypeer_rust
# cbindgen -c cbindgen.toml -o ../src/sentrypeer_rust.h

header = '''
/* SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only  */
/* Copyright (c) 2021 - 2026 Gavin Henry <ghenry@sentrypeer.org> */
/*
   _____            _              _____
  / ____|          | |            |  __ \
 | (___   ___ _ __ | |_ _ __ _   _| |__) |__  ___ _ __
  \___ \ / _ \ '_ \| __| '__| | | |  ___/ _ \/ _ \ '__|
  ____) |  __/ | | | |_| |  | |_| | |  |  __/  __/ |
 |_____/ \___|_| |_|\__|_|   \__, |_|   \___|\___|_|
                              __/ |
                             |___/
*/
'''

include_guard = "SENTRYPEER_RUST_H"
includes = ["conf.h"]
language = "C"

include_version = true
autogen_warning = "/* Warning, do not modify this manually. */"

usize_is_size_t = true

braces = "NextLine"
tab_width = 4

# Include doc comments from Rust as documentation
documentation = true

[enum]
prefix_with_name = true
rename_variants = "ScreamingSnakeCase"
