# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only
# Copyright (c) 2021 - 2024 Gavin Henry <ghenry@sentrypeer.org>

name: Coverity Scan
on:
  schedule:
    - cron: '0 11 * * *' # Daily at 11:00 UTC
  workflow_dispatch:

jobs:
  scan-latest:
    runs-on: ubuntu-24.04
    steps:
      - name: Add Homebrew to $PATH
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - name: Test brew call
        run: brew search hello
      - uses: actions/checkout@v2
      - name: Fetch Dependencies
        run: |
          set -x
          sudo apt-get update
          sudo apt-get -y install \
            git \
            build-essential \
            autoconf-archive \
            curl \
            wget \
            libosip2-dev \
            libcmocka-dev \
            uuid-dev \
            libmicrohttpd-dev \
            libjansson-dev \
            libpcre2-dev \
            libcurl4-openssl-dev
            brew update
            brew upgrade          
            brew install libosip opendht
      - name: Download Coverity Build Tool
        run: |
          wget -q https://scan.coverity.com/download/linux64 --post-data "token=$TOKEN&project=SentryPeer%2FSentryPeer" -O cov-analysis-linux64.tar.gz
          mkdir coverity-tools
          tar xzf cov-analysis-linux64.tar.gz --strip 1 -C coverity-tools
          rm cov-analysis-linux64.tar.gz
        env:
          TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}

      - name: Run bootstrap.sh
        run: ./bootstrap.sh

      - name: Configure
        run: ./configure

      - name: Build
        run: |
          export PATH=`pwd`/coverity-tools/bin:$PATH
          ( cov-build --dir cov-int make -j 3 )
          cat cov-int/build-log.txt

      - name: Submit the result to Coverity Scan
        run: |
          tar -czvf sentrypeer.tar.gz cov-int
          curl \
            --form token=$TOKEN \
            --form email=ghenry@suretecsystems.com \
            --form file=@sentrypeer.tar.gz \
            --form version=main \
            --form description="`git rev-parse HEAD`" \
            https://scan.coverity.com/builds?project=SentryPeer%2FSentryPeer
        env:
          TOKEN: ${{ secrets.COVERITY_SCAN_TOKEN }}
