# SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only
# Copyright (c) 2021 - 2026 Gavin Henry <ghenry@sentrypeer.org>

name: Build and Test Prototype
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-24.04
    container:
      image: perl:5.40
    steps:
      - uses: actions/checkout@v2
      - name: perl -V
        run: perl -V
      - name: Install cpamn
        run: cpanm -n App::cpanminus
      - name: Install dependencies
        run: |
          cd prototype
          cpanm -n --installdeps .
          cpanm -n Test::Pod Test::Pod::Coverage
#      - name: Run tests
#        run: |
#          prove -lv t
#        env:
#          TEST_POD: 1